/* ------------------------------------------------------------ *\
	Cards
\* ------------------------------------------------------------ */

.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10rem;
	padding-inline: 5rem;
	justify-content: center;
	align-items: center;

	@include breakpoint-down(tablet) {
		gap: 6rem;
	}

	@include breakpoint-down(mobile) {
		grid-template-columns: 1fr;
		gap: 10rem;
	}

	li {
		
		&::before,
		&:after {
			transform: translate(450%, -450%);
			opacity: 0;

			@include breakpoint-down(tablet) {
				transform: translate(0, 0);
				opacity: 1;
			}
		}

		&:hover:before,
		&:hover:after {
			@media (hover:hover) {
				transform: translate(0% , 0%);
				opacity: 1;
			}
		}

		@include breakpoint-down(mobile) {
			max-width: 28rem;
			margin-inline: auto;
		}

	}
}