/* ------------------------------------------------------------ *\
	Hero-about
\* ------------------------------------------------------------ */

.hero-about {
	position: relative;
	height: 100vh;
	background-color: var(--color-light-gray);
	border-bottom: .4rem solid var(--color-primary);
	padding-top: 45vh;

	h2 {
		color: var(--color-primary);
		position: relative;

		@include breakpoint-down(tablet) {
			font-size: 3rem;
		}

		@include breakpoint-down(mobile) {
			font-size: 2.2rem;
		}

		&:before,
		&:after {
			content: '';
			aspect-ratio: 1;
			height: auto;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		&:after {
			width: 110%;
			left: -5%;
			border-top: .2rem solid currentColor;
			animation: 3s rotateHero linear infinite;
		}

		&:before {
			width: 120%;
			left: -10%;
			border-bottom: .2rem solid currentColor;
			animation: 4.5s rotateHero linear infinite;
		}
	}

	em {
		position: relative;
		display: block;
		font-style: normal;

		&:before,
		&:after {
			content: '';
			aspect-ratio: 1;
			height: auto;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		&:after {
			width: 130%;
			left: -15%;
			border-top: .2rem solid currentColor;
			animation: 6s rotateHero linear infinite;
		}

		&:before {
			width: 140%;
			left: -20%;
			border-bottom: .2rem solid currentColor;
			animation: 7.5s rotateHero linear infinite;
		}
	}

	span {
		display: block;
		color: var(--color-white);
	}

	.hero__content {
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-left: 10rem;
		position: relative;
		z-index: 2;

		@include breakpoint-down(tablet) {
			justify-content: center;
			margin: 0;
		}
	}

	.hero__image-holder {
		position: absolute;
		top: 0;
		right: 10%;
		height: 100%;
		width: 60rem;

		@media (max-width: 1400px) {
			right: 0;
		}

		@include breakpoint-down(tablet) {
			display: none;
		}
	}

	.hero__image {
		position: relative;
		height: 100%;

		img {
			width: 100%;
			display: block;
			position: absolute;
			left: 0;
		}

		img:nth-child(1),
		img:nth-child(3) {
			height: 90%;
			bottom: 0;
			z-index: 1;
		}

		img:nth-child(2) {
			top: 0;
			height: 100%;
		}
	}
}


@keyframes rotateHero{
	from {
		transform: translateY(-50%) rotate(0);
	}

	to {
		transform: translateY(-50%) rotate(360deg);
	}
}

.light-mode .hero-about {
	.hero__image {
		img:nth-child(1),
		img:nth-child(2) {
			filter: brightness(0) saturate(100%) invert(7%) sepia(47%) saturate(6154%) hue-rotate(353deg) brightness(96%) contrast(111%);
		}
	}
}