/* ------------------------------------------------------------ *\
	Info
\* ------------------------------------------------------------ */

.info {
	position: relative;
	height: 40rem;
	width: 80%;
	margin-left: auto;
	display: flex;
	background-color: var(--color-light-gray);
	transform: skew(-20deg, 0);
	margin-right: -8rem;
	color: var(--color-white);

	@include breakpoint-down(mobile) {
		width: 100%;
		margin: 0;
		transform: skew(0);
	}

	h3 {
		font-family: $ff-cinzel;
		color: var(--color-primary);
	}

	.info__animation {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		&:after {
			content: '';
			width: 100%;
			height: 100%;
			background-image: conic-gradient(transparent, transparent, transparent, var(--color-primary));
			position: absolute;
			top: 0;
			left: 0;
			animation: 10s rotateInfo linear infinite;
		}
	}

	.info__inner {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: calc(100% - .4rem);
		height: calc(100% - .4rem);
		margin: .2rem;
		background-color: var(--color-light-gray);
		z-index: 2;

		@include breakpoint-down(mobile) {
			padding-inline: 1.5rem;
		}
	}

	.info__content {
		font-size: 2rem;
		font-family: $ff-source-serif;
		text-align: center;
		max-width: 40rem;
		transform: skew(20deg, 0);

		@include breakpoint-down(mobile) {
			transform: skew(0, 0);
		}
	}

	.info__image {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 30rem;
		transform: skew(20deg, 0);
		z-index: 5;

		@include breakpoint-down(mobile) {
			display: none;
		}

		img {
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	&:nth-child(even) {
		margin-right: auto;
		margin-left: 0;
		flex-direction: row-reverse;
		transform: skew(20deg, 0);
		margin-right: 0;
		margin-left: -8rem;

		@include breakpoint-down(mobile) {
			width: 100%;
			margin: 0;
			transform: skew(0);
		}

		.info__content {
			max-width: 40rem;
			transform: skew(-20deg, 0);

			@include breakpoint-down(mobile) {
				transform: skew(0, 0);
			}
		}

		.info__image {
			transform: skew(-20deg, 0);
			left: auto;
			right: 0;
		}
	}

	&:nth-child(1) {
		.info__image {
			top: 12%;
			left: -26rem;
		}
	}

	&:nth-child(2) {
		.info__image {
			top: -15%;
			right: -20rem;
			height: 120%;
		}
	}

	&:nth-child(3) {
		.info__image {
			top: 25%;
			left: -13rem;
		}
	}
}

.info + .info {
	margin-top: 20rem;

	@include breakpoint-down(mobile) {
		margin-top: 4rem;
	}
}

@keyframes rotateInfo {
	0% {
		transform: translateX(-40%) rotate(0deg);
	}

	50% {
		transform: translateX(50%) rotate(180deg);
	}

	100% {
		transform: translateX(-40%) rotate(360deg);
	}
}