/* ------------------------------------------------------------ *\
	Loading
\* ------------------------------------------------------------ */

.loading {
	width: 10rem;
	height: 10rem;
	overflow: hidden;
	border-radius: 50%;
	padding: .4rem;
	border: .2rem solid transparent;
	border-top-color: var(--color-primary);
	animation: rotate 4s infinite linear;
	transition: .25s opacity;

	div {
		border-radius: 50%;
		padding: .4rem;
		border: .2rem solid transparent;
		height: 100%;
		border-top-color: var(--color-primary);
		animation: rotate 3s infinite linear;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}