/* ------------------------------------------------------------ *\
	Section-cards
\* ------------------------------------------------------------ */

.section-cards {
	background-color: var(--color-intro);
	padding-block: 15rem 35rem;
	margin-top: -1rem;
	overflow: hidden;
}