/* ------------------------------------------------------------ *\
	Section-info
\* ------------------------------------------------------------ */

.section-info {
	padding-block: 20rem;
	background-color: var(--color-black);
	overflow: hidden;

	@include breakpoint-down(mobile) {
		padding-block: 4rem;
	}
}