/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

.slider {
	height: 20rem;
	width: 100%;
	position: relative;
	display: flex;
	background-color: rgba(var(--color-rgb-white),0.3);

	&:before,
	&:after {
		content: '';
		height: 100%;
		width: 15%;
		position: absolute;
		z-index: 2;
		background: linear-gradient(to right , rgba(var(--color-rgb-white),0%), rgba(var(--color-rgb-white),0.5) 100%);
		top:0;
		pointer-events: none;
	}

	&:before {
		left: 0;
		transform: rotate(180deg);
	}

	&:after {
		right: 0;
	}
}

.slider-track {
	display: flex;
	width: calc(36rem * 12);
	animation: 20s scroll linear infinite;
	&:hover {
		animation-play-state: paused;
	}
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}

	to {
		transform:translateX(calc(-36rem * 6));
	}
}

.slide {
	position: relative;
	width: 36rem;
	height: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s transform;
	font-size: 1.6rem;
	background-color: rgba(var(--color-rgb-white),0.1);
	
	&:hover {
		transform: scale(1.5);
	}
}