		<footer class="footer">
			<div class="shell">
				<div class="form">
					<form action="?" method="post">
						<div class="form__head">
							<h1>Contact me</h1>
						</div><!-- /.form__head -->

						<div class="form__body">
							<div class="form__row">
								<label for="name" class="form__label" hidden></label>
								
								<div class="form__controls">
									<input type="text" class="field" name="name" id="name" value="" placeholder="Name" required>
								</div><!-- /.form__controls -->
							</div><!-- /.form__row -->

							<div class="form__row">
								<label for="email" class="form__label" hidden></label>
								
								<div class="form__controls">
									<input type="email" class="field" name="email" id="email" value="" placeholder="Email" required>
								</div><!-- /.form__controls -->
							</div><!-- /.form__row -->

							<div class="form__row">
								<label for="subject" class="form__label" hidden></label>
								
								<div class="form__controls">
									<input type="text" class="field" name="subject" id="subject" value="" placeholder="Subject" required>
								</div><!-- /.form__controls -->
							</div><!-- /.form__row -->

							<div class="form__row">
								<label for="Message" class="form__label" hidden></label>
								
								<div class="form__controls">
									<textarea class="field field--textarea" name="message" id="message" placeholder="Message..." required></textarea>
								</div><!-- /.form__controls -->
							</div><!-- /.form__row -->
						</div><!-- /.form__body -->

						<div class="form__actions">
							<button type="submit" class="form__btn">Send</button>
						</div><!-- /.form__actions -->
					</form>
				</div><!-- /.form -->

				<div class="waterfall-container">
					<div class="waterfall">
						<div class="waterfall-mask"></div><!-- /.mask -->

						<div class="flow"></div><!-- /.flow-2 -->

						<div class="bubbles-container">
							<div class="bubbles">
								<i></i><i></i><i></i><i></i>

								<i></i><i></i><i></i><i></i>

								<i></i><i></i><i></i><i></i>

								<i></i><i></i><i></i><i></i>

								<i></i><i></i><i></i><i></i>
							</div><!-- /.bubbles-2 -->
						</div><!-- /.bubbles-container -->
					</div><!-- /.waterfall-2 -->
				</div><!-- /.waterfall-container -->
			</div><!-- /.shell -->
		</footer><!-- /.footer -->