/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-width: 320px;
	background-color: rgba(#fff,.6);
	font-family: $ff-cinzel;
	font-weight: $font-weight-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: #000;
	background-image: url('../images/temp/background.jpg');
	cursor: url('../images/cursor.png'), default;
}

body::-webkit-scrollbar {
	display: none;
}

.light-mode {
	cursor: url('../images/cursor-red.png'), default;
	background-blend-mode: color-burn;

	button:hover,
	a:hover {
		cursor: url('../images/cursor-red.png'), default;
	}
}

.is-locked {
	overflow: hidden;
}

button:hover {
	cursor: url('../images/cursor.png'), default;
}

a {
	text-decoration: none;
	color:inherit;
	display: inline-block;

	&:hover {
		text-decoration: none;
		cursor: url('../images/cursor.png'), default;
	}

	&[href^="tel"] {
		text-decoration: none;
	}
}

ul {
	list-style-type: none ;
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
	margin-bottom: calc(#{$line-height-base}em / 2);
}

.h1,
h1 {
	font-size: 8.2rem;
	color: var(--color-white);
	font-family: $ff-source-serif;
	line-height: 0.8;
}

.h2,
h2 {
	font-size: 4.2rem;
	font-weight: 400;
}

.h3,
h3 {
	font-size: 3rem;
}

.h4,
h4 {
	font-size: 2.6rem;
}

.h5,
h5 {
	font-size: 2.4rem;
}

.h6,
h6 {
	font-size: 2.2rem;
}

p,
ul,
ol,
dl,
hr,
table,
blockquote {
	margin-bottom: #{$line-height-base}em;
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
	margin-bottom: 0;
}
