//Variables
$font-size-base             : 1.6rem;
$font-weight-base           : 400;
$line-height-base           : 1.2;

$ff-cinzel 					: 'Cinzel', serif;
$ff-source-serif 			: 'Source Serif Pro', serif;

$t-duration                 : 0.4s;

$shell-max-width            : 144rem;
$shell-gutter               : 1.5rem;

$c-black                    : #000;
$c-white                    : #fff;
$c-primary                  : #C6A682;

$responsive-ios             : 812px;

$breakpoints: (
	mobile-small: 374px,
	mobile-medium: 575px,
	mobile: 767px,
	admin-bar: 782px,
	tablet: 1023px,
	small-desktop: 1199px,
	large-desktop: 1399px
);

:root {
	--color-primary: #C6A682;
	--color-black: #0A0A0A;
	--color-light-gray: #121212;
	--color-white: #fff;
	--color-e6: #e6e6e6;
	--color-hero: #151515;
	--color-intro: #171717;
	--color-rgb-white: 255, 255, 255;
	--color-rgb-primary: 198, 166, 130;
	--color-rgb-light-gray: 12,12,12;
}

.light-mode {
	background-blend-mode: color-burn;

	--color-primary: #8b0000;
	--color-black: #fff;
	--color-light-gray: #e6e6e6;
	--color-white: #0A0A0A;
	--color-e6: #121212;
	--color-hero: #e6e6e6;
	--color-intro: #b8b8b8;
	--color-rgb-white: 10, 10, 10;
	--color-rgb-primary: 139, 0, 0;
	--color-rgb-light-gray: 230, 230, 230;
}

* {
	transition: .25s color, .25s background-color;
}